@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MVC Main View</title>
</head>
<body>
    <h1>MVC Main View</h1>
    Main placeholder:
    <br />
    <div style="border: solid;">
        @Html.Sitecore().Placeholder("main")
    </div>
</body>
</html>
